<h1>Showing article details</h1>

<% # just percentage sign  evaluates the code as ruby; has nothing to do with displaying or rendering %>
<% # need to put equal sign and this will evaluate and actually render %>
<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Return to articles listing', articles_path %>